.container-destination__section--hawaii {
  background-image: url(../assets/Images/hawaii.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10%;
}

.container-destination__section--iceland {
  background-image: url(../assets/Images/iceland.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10%;
}

.container-destination__section--greece {
  background-image: url(../assets/Images/greece.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10%;
}

.destination-section__header {
  color: #ffffff;
  font-size: 4rem;
  padding-left: 5%;
  padding-top: 2%;
  position: relative;
}

.destination-section {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.destination-section__card {
  background-color: #ffffff;
  border-radius: 15px;
  width: 300px;
  height: 25rem;
  text-align: center;
  padding-top: 3%;
  color: black;
}

.destination-section__card-text {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid black;
  margin: 0 7%;
}

.destination-section__card-text-details {
  background-color: #fefaf5;
  height: 12%;
  padding-top: 2%;
  margin: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
